DATABASE_URL="postgresql://admin:password1234@localhost:5432/fit-friends"
JWT_ACCESS_SECRET=secret1
JWT_REFRESH_SECRET=secret2
# JWT_ACCESS_EXPIRES_IN=15m
# JWT_REFRESH_EXPIRES_IN=7d
# UPLOAD_FILES_DIR=../upload
MAIL_SMTP_HOST=localhost
MAIL_SMTP_PORT=5025
MAIL_SMTP_USER=admin
MAIL_SMTP_USER_PASSWORD=password1234
MAIL_FROM=mail@guitar-shop.com
FRONTEND_URL=http://localhost:4200/
